script(type='text/javascript').
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-90070405-1']);
	_gaq.push(['_trackPageview']);
	_gaq.push(['_trackEvent', 'Tool Used', 'Xero']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();