extends layout

block content
  .nosupportfolder.modal
    header
      .h3_2 Your browser is not supported
    section
      p.h6.copy To use all Xero's features, please view it on Chrome's latest version.
      a(href='javascript:void(0)').btn.btn-tertiary.close Got it!
  .file-index
    header
      svg(viewBox="-1 0 368 67", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="logo")
        path(d="M34.1566297,42.1901223 L47.6671146,23.6003213 L61.1661803,42.1901223 L34.1566297,42.1901223 Z M-6.34399307e-05,65.1352408 L17.4747827,65.1352408 L24.5619746,55.3859469 L70.7500506,55.3859469 L77.8308985,65.1352408 L95.4097862,65.1352408 L47.6671146,0.330046445 L-6.34399307e-05,65.1352408 Z M119.600701,1.77546825 L103.854275,1.77546825 L103.849517,65.0148948 L173.804412,65.0148948 L173.805046,51.2465536 L119.596577,51.2465536 L119.600701,1.77546825 Z M225.389006,51.2465536 L201.569849,51.2465536 L201.572387,15.4399754 L225.390275,15.4399754 C242.209469,15.4399754 250.215905,23.1348142 250.214319,33.3429469 C250.212733,43.5488569 242.217716,51.2465536 225.389006,51.2465536 L225.389006,51.2465536 Z M225.391226,1.67068152 L185.620099,1.67068152 L185.61661,65.0148948 L225.386468,65.0148948 C250.262534,65.0148948 267.194017,51.4005583 267.194017,33.3429469 C267.195286,15.2878758 250.404639,1.67068152 225.391226,1.67068152 L225.391226,1.67068152 Z M322.705225,52.9190133 L319.739091,52.9190133 C304.317478,52.9190133 292.061518,43.7288995 292.054223,33.3429469 C292.048196,22.9569943 304.29464,13.766563 319.716253,13.766563 L322.682387,13.766563 C338.104,13.766563 350.36218,22.9569943 350.367573,33.3429469 C350.373599,43.7266768 338.128107,52.9167905 322.705225,52.9190133 L322.705225,52.9190133 Z M352.844268,9.10069573 C344.871137,3.23105118 333.742187,0.000127014218 322.675726,0.000127014218 L319.706737,0.000127014218 C308.640275,0.000127014218 297.515766,3.23105118 289.548345,9.10069573 C280.955407,15.4294967 275.728274,24.0407431 275.733349,33.3429469 C275.740644,42.6451507 280.977928,51.2541744 289.577845,57.5848806 C297.550341,63.4548427 308.679608,66.6860844 319.747338,66.6860844 L322.714741,66.6860844 C333.78374,66.6860844 344.906981,63.4548427 352.873133,57.5848806 C361.466389,51.2541744 366.692253,42.6451507 366.686861,33.3429469 C366.681785,24.0407431 361.443233,15.4294967 352.844268,9.10069573 L352.844268,9.10069573 Z", stroke="none", fill-rule="evenodd")
      .h1.title.dash: span= title
      .subtitle.h3_2 #{title} is Aldo's image processor.
      .subsubheader It applies <i> recipes </i> to uploaded images based on their filename. To add new recipe, please contact 
        a.reverse-link(href="mailto:eaublet@aldogroup.com")
          | Émile Aublet 
        |.
    //- input#testConfig(type="text", placeholder="Type-in a filename to test it", value="acaudia_beige-taupe_36_main_rc_nt_445x350.jpg")
    .content
      .drophere
        .section.h3_2.default
          svg(viewBox="595 249 120 49", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
            path(d="M653.993374,293.37815 L645.807612,285.192388 L644.393398,286.606602 L655,297.213203 L665.606602,286.606602 L664.192388,285.192388 L655.993374,293.391402 L655.993374,268 L653.993374,268 L653.993374,293.37815 Z M673.425739,281.083486 C675.066858,278.090601 676,274.654304 676,271 C676,259.39947 666.59798,250 655,250 C643.39947,250 634,259.40202 634,271 C634,274.654659 634.933167,278.090859 636.574177,281.083516 L638.48194,280.396722 C636.90238,277.625697 636,274.418414 636,271 C636,260.505671 644.504958,252 655,252 C665.494329,252 674,260.504958 674,271 C674,274.418309 673.097628,277.625622 671.518037,280.396714 L673.425739,281.083486 Z", stroke="none", fill-rule="evenodd")
          | Drop your files here
        .section.h3_2.loading
          svg(viewBox="654 249 120 47", version="1.1", xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            path(d="M732.425739,281.083486 C734.066858,278.090601 735,274.654304 735,271 C735,259.39947 725.59798,250 714,250 C702.39947,250 693,259.40202 693,271 C693,274.654659 693.933167,278.090859 695.574177,281.083516 L697.48194,280.396722 C695.90238,277.625697 695,274.418414 695,271 C695,260.505671 703.504958,252 714,252 C724.494329,252 733,260.504958 733,271 C733,274.418309 732.097628,277.625622 730.518037,280.396714 L732.425739,281.083486 Z", stroke="none", fill-rule="evenodd")
          | Processing your files (it can take several minutes)...
          span.subsubheader
            span.done 
            | /
            span.total 
            | &nbsp;images created.
          span.subsubheader.error 
            ul
        .section.h3_2.ready
          svg(viewBox="533 251 120 47", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
            path(d="M594,283.384776 L594,258.213203 L592,258.213203 L592,283.384776 L583.807612,275.192388 L582.393398,276.606602 L593,287.213203 L603.606602,276.606602 L602.192388,275.192388 L594,283.384776 Z M574.574261,266.129717 C572.933142,269.122603 572,272.5589 572,276.213203 C572,287.813733 581.40202,297.213203 593,297.213203 C604.60053,297.213203 614,287.811183 614,276.213203 C614,272.558544 613.066833,269.122344 611.425823,266.129687 L609.51806,266.816481 C611.09762,269.587506 612,272.794789 612,276.213203 C612,286.707532 603.495042,295.213203 593,295.213203 C582.505671,295.213203 574,286.708245 574,276.213203 C574,272.794895 574.902372,269.587581 576.481963,266.81649 L574.574261,266.129717 Z", stroke="none", fill-rule="evenodd")
          | Download your images
          span.subsubheader Finished in 
            span.timer

      //- input#fileUpload(type="file", multiple)

      //- table.result
        //- th Thumbnail
        th Style Name
        th Color Group
        th Color ID
        th Angle
        th Proportion
        th Background
        th Height
        th Width
        th File Extension
        th Crop Recipe
      //- .dump
        a#downloadAll(href="javascript:void(0)") Download All files (zip)
        .process
          span.files
          | &nbsp;files to process...