doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    include ga
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="../javascripts/dropzone.js")
    script(src="../javascripts/workcrew.js")
    script(src="../javascripts/jimp.min.js")
    script(src="../javascripts/FileSaver.js")
    script(src="../javascripts/zip/zip.js")
    script(src="../javascripts/jszip.min.js")
    script(src="../javascripts/queue-vanilla.js")
    //- script(src="../javascripts/jimp-worker.js")
    script(src="../javascripts/script.js")

