@import 'style_master.css';

body {
  // padding: 50px;
  // font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

// a {
//   color: #00B7FF;
// }

input#testConfig{
	font-size: 2rem;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
}
p{
	font-size: 1em;
}
#downloadAll{
	display: block;
}
.result{
	margin-top: 1rem;
	text-align: left;
	width: 100%;
	border-collapse: collapse;
}
.result tr td{
	padding: .5rem .125rem;
}
.result tr td.recipe{
	max-width: 200px;
}
.result tr td img.thumbnail{
	max-width: 100px;
}
.result tr:not(:last-child) td{
	border-bottom: 1px solid #eee;
}
.result p em {
	width: 100px;
	font-style: normal;
	font-weight: bold;
	display: inline-block;
}
.error{
// 	background-color: #ffd5d3;
// 	color: #6d2320;
}
.error td{
	text-align: left;
}
.result p:not(:last-child){
	padding-bottom: rem;
	border-bottom: 1px solid #eee;
}
.dump .process{
	display: none;
	text-align: center;
	margin-bottom: 1rem;
}
.drophere{
	width: 100%;
	// height: 10rem;
	background-color: white;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	border: 0;
	transition: all 120ms ease-out;
	padding: 6rem;
	box-sizing: border-box;

}
.drophere .section{
	display: block;
	width: 100%;
	color: #3A2E2C;
	transition: all 120ms ease-out;
}
.drophere .section svg{
	width: 10rem;
	display: block;
	margin: 0 auto;	
	margin-bottom: 1rem;
}
.drophere .section svg *{
	fill: #E5E0E6;
}
.undropable{
	border: 1px solid #E5E0E6;
}
.drophere.download{
	background-color: #3300ad;
	color: white;
	cursor: pointer;
}
.drophere.download .subsubheader{
	color: rgba(255, 255, 255, 0.75)
}
.drophere.download:hover{
	background-color: #230077;
	color: white;
}
.drophere.download:hover .section svg{
	transform: scale(1.1);
}
.drophere.download svg *{
	fill: white;
}
.drophere.download .section{
	color: white;
}
.drophere.download .error li{
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}
.drophere:not(.undropable):before{
	content: "";
	width: calc(100% - 4rem);
	height: calc(100% - 4rem);
	top: 2rem;
	left: 2rem;
	border: 2px dashed #E5E0E6;
	position: absolute;
	transition: all 120ms ease-out;
}
span.error{
	display: none;
}
span.error.active{
	display: block;
}
.error ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 3rem;
}
.error ul li{
	margin: .5rem 0 1rem;
    padding: .25rem;
    width: 100%;
    background-color: #FFDBA0;
    color: #8c4700;
    border-radius: 2px;

}
.error.subsubheader{
	line-height: 1.2rem;
}
.subsubheader b {
	font-family: 'Patron';
	font-weight: 700;
}
.drophere span.subsubheader{
	display: block;
}
.drophere:not(.undropable).dragging{
	background-color: #3300ad;
}
.drophere:not(.undropable).dragging .section{
	color: white;
}
.drophere:not(.undropable).dragging .section .subsubheader{
	color: white;
}
.drophere:not(.undropable).dragging:before{
	animation: bounce_border 480ms ease-out alternate infinite;
	border: 2px solid rgba(250,250,250,.4);
}
.section.loading, .section.ready{
	display: none;
}
.section.loading svg{
	animation: spin 840ms linear infinite;
	transform-origin: 50% 46.5%;
}

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes bounce_border {
	0%{
		width: calc(100% - 4rem);
		height: calc(100% - 4rem);
		top: 2rem;
		left: 2rem;
	}
	100%{
		width: calc(100% - 3rem);
		height: calc(100% - 3rem);
		top: 1.5rem;
		left: 1.5rem;
	}
}
#fileUpload{
	width: 100%;
	height: 5rem;
	content: "Drop Here";
	color: black;
	border: dotted 1px #333;
	box-sizing: border-box;
	margin-top: 1rem;
	line-height: 5rem;
	text-align: center;
}

#fileUpload.dz-drag-hover{
	border-style: solid;
}
.dump{
	background-color: #eee;
	margin-top: 1rem;
	padding: 1rem;
	box-sizing: border-box;
}
.dump .imgwrap{
	width: 185px;
	margin: .5rem;
	display: inline-block;
	padding: .25rem;
	background-color: white;
	border: 1px solid #e4e4e4;
}
.dump .imgwrap img{
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}
.dump .imgwrap span{
	display: inline-block;
	vertical-align: middle;
	margin-left: .5rem;
}

header .subtitle {
	color: rgba(250,250,250,1);
	margin-bottom: .5rem;
}
header .subsubheader {
	color: rgba(250,250,250,.5); 
}
.modal{
	width: 380px;
	background-color: white;
	position: fixed;
	top: 150%;
	left: 50%;
	z-index: 99999;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transition: top 320ms ease-out;
}
.modal:before{
	content: "";
	background-color: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 200vw;
	height: 300vh;
	z-index: -1;
	opacity: 0;
	transition: opacity 320ms ease-out;
	pointer-events: none;
}
.modal.active{
	top: 50%;
}
.modal.active:before{
	opacity: 1;
}
.modal header{
	background-color: #f5f3f5;
	padding: 1.5rem 3rem 1.5rem 1.5rem;
}

.modal section{
	padding: 1.5rem;
	background-color: white;
}
.modal .copy{
	margin: 0 0 1.5rem;
}
.modal .btn{
	margin-left: 50%;
	transform: translate(-50%, 0);
}

.content { list-style-type: none; margin: 0; padding: 4rem 2rem;}
@media (max-width: 767px) { .content { padding: 2rem 1rem; } }