@font-face { font-family: "Patron"; font-style: "normal"; font-weight: 700; src: url("../fonts/ALDO fonts_Patron/PatronWEB-Bold.eot?") format("eot"), url("../fonts/ALDO fonts_Patron/PatronWEB-Bold.woff") format("woff"); }
@font-face { font-family: "Patron"; font-style: "normal"; font-weight: 400; src: url("../fonts/ALDO fonts_Patron/PatronWEB-Regular.eot?") format("eot"), url("../fonts/ALDO fonts_Patron/PatronWEB-Regular.woff") format("woff"); }
@font-face { font-family: "Sectra"; font-style: "italic"; font-weight: 100; src: url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-book-italic.woff2") format("woff2"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-book-italic.eot?") format("eot"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-book-italic.ttf") format("truetype"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-book-italic.woff") format("woff"); }
@font-face { font-family: "Sectra"; font-style: "normal"; font-weight: 100; src: url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-book.woff2") format("woff2"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-book.eot?") format("eot"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-book.ttf") format("truetype"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-book.woff") format("woff"); }
@font-face { font-family: "Sectra"; font-style: "italic"; font-weight: 300; src: url("../fonts/ALDO GT Sectra Web/gt-sectra-regular-italic.woff2") format("woff2"), url("../fonts/ALDO GT Sectra Web/gt-sectra-regular-italic.eot?") format("eot"), url("../fonts/ALDO GT Sectra Web/gt-sectra-regular-italic.ttf") format("truetype"), url("../fonts/ALDO GT Sectra Web/gt-sectra-regular-italic.woff") format("woff"); }
@font-face { font-family: "Sectra"; font-style: "normal"; font-weight: 300; src: url("../fonts/ALDO GT Sectra Web/gt-sectra-regular.woff2") format("woff2"), url("../fonts/ALDO GT Sectra Web/gt-sectra-regular.eot?") format("eot"), url("../fonts/ALDO GT Sectra Web/gt-sectra-regular.ttf") format("truetype"), url("../fonts/ALDO GT Sectra Web/gt-sectra-regular.woff") format("woff"); }
@font-face { font-family: "Sectra"; font-style: "italic"; font-weight: 500; src: url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-medium-italic.woff2") format("woff2"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-medium-italic.eot?") format("eot"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-medium-italic.ttf") format("truetype"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-medium-italic.woff") format("woff"); }
@font-face { font-family: "Sectra"; font-style: "normal"; font-weight: 500; src: url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-medium.woff2") format("woff2"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-medium.eot?") format("eot"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-medium.ttf") format("truetype"), url("../fonts/ALDO GT Sectra Web/gt-sectra-fine-medium.woff") format("woff"); }
@font-face { font-family: "Sectra"; font-style: "italic"; font-weight: 700; src: url("../fonts/ALDO GT Sectra Web/gt-sectra-bold-italic.woff2") format("woff2"), url("../fonts/ALDO GT Sectra Web/gt-sectra-bold-italic.eot?") format("eot"), url("../fonts/ALDO GT Sectra Web/gt-sectra-bold-italic.ttf") format("truetype"), url("../fonts/ALDO GT Sectra Web/gt-sectra-bold-italic.woff") format("woff"); }
@font-face { font-family: "Sectra"; font-style: "normal"; font-weight: 700; src: url("../fonts/ALDO GT Sectra Web/gt-sectra-bold.woff2") format("woff2"), url("../fonts/ALDO GT Sectra Web/gt-sectra-bold.eot?") format("eot"), url("../fonts/ALDO GT Sectra Web/gt-sectra-bold.ttf") format("truetype"), url("../fonts/ALDO GT Sectra Web/gt-sectra-bold.woff") format("woff"); }
html { font-size: 16px; margin: 0; padding: 0; }

body { margin: 0; padding: 0; font-family: "Sectra", serif; font-weight: 400; font-size: 1.125rem; }

* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

body, h1, h2, h3, h4, .h1, .h2, .h3, .h4, p, .subheader, .subsubheader { color: #3a2e2c; transition: -webkit-transform 80ms ease-out; transition: transform 80ms ease-out; }

h1, .h1 { font: normal 500 2.25rem/2.25rem "Sectra", serif; }
@media (min-width: 768px) and (max-width: 1024px) { h1, .h1 { font: normal 500 3.75rem/3.75rem "Sectra", serif; } }
@media (min-width: 1024px) { h1, .h1 { font: normal 500 4.5rem/4.5rem "Sectra", serif; } }

h2, .h2 { font: normal 500 1.875rem/1.875rem "Sectra", serif; }
@media (min-width: 768px) and (max-width: 1024px) { h2, .h2 { font: normal 500 3rem/3rem "Sectra", serif; } }
@media (min-width: 1024px) { h2, .h2 { font: normal 500 3.75rem/3.75rem "Sectra", serif; } }

h2.h2_1, .h2_1 { font: normal 500 1.5rem/1.5rem "Sectra", serif; }
@media (min-width: 768px) and (max-width: 1024px) { h2.h2_1, .h2_1 { font: normal 500 2.25rem/2.25rem "Sectra", serif; } }
@media (min-width: 1024px) { h2.h2_1, .h2_1 { font: normal 500 3rem/3rem "Sectra", serif; } }

h3, .h3 { font: normal 500 1.25rem/1.25rem "Sectra", serif; }
@media (min-width: 768px) and (max-width: 1024px) { h3, .h3 { font: normal 500 1.5rem/1.5rem "Sectra", serif; } }
@media (min-width: 1024px) { h3, .h3 { font: normal 500 3rem/3rem "Sectra", serif; } }

h3.h3_1, .h3_1 { font: normal 300 1.25rem/1.25rem "Sectra", serif; }
@media (min-width: 1024px) { h3.h3_1, .h3_1 { font: normal 300 1.5rem/1.5rem "Sectra", serif; } }
@media (min-width: 1024px) { h3.h3_1, .h3_1 { font: normal 300 2.25rem/2.25rem "Sectra", serif; } }
h3.h3_1 b, h3.h3_1 em, .h3_1 b, .h3_1 em { font-weight: 700; }

@media (min-width: 768px) and (max-width: 1024px) { h3.h3_2, .h3_2 { font: normal 500 1.875rem/1.875rem "Sectra", serif; } }

@media (min-width: 768px) and (max-width: 1024px) { h3.h3_3, .h3_3 { font: normal 300 1.5rem/1.875rem "Sectra", serif; } }

h4.h4, .h4, p { font: normal 300 1.125rem/1.5rem "Sectra", serif; }
@media (min-width: 1024px) { h4.h4, .h4, p { font: normal 300 1.125rem/1.5rem "Sectra", serif; } }
h4.h4 em, h4.h4 b, .h4 em, .h4 b, p em, p b { font-weight: 500; }

.subheader, p.small { font: normal 300 0.875rem/1.25rem "Sectra", serif; }

.subheader b, .subheader em, p.small b, p.small em, .h5, h5 { font: normal 500 0.875rem/1.25rem "Patron", sans-serif; }

.subsubheader, .h6, h6 { font: normal 300 0.725rem/0.725rem "Patron", sans-serif; }

.subsubheader b, .subsubheader em { font: normal 500 0.725rem/0.725rem "Sectra", serif; }

.dash { white-space: nowrap; }
.dash > span { white-space: normal; }
.dash > span:after { white-space: nowrap; content: ""; }
.dash:after { white-space: nowrap; height: 1px; background-color: currentcolor; position: relative; width: 1.8em; margin-left: 0.25em; content: ""; display: inline-block; vertical-align: middle; }

a { color: inherit; text-decoration: none; box-shadow: 0 1px 0 0 rgba(58, 46, 44, 0.25); display: inline-block; transition: -webkit-transform 40ms ease-out; transition: transform 40ms ease-out; }
a:hover { color: #3300ad; }
a:active { position: relative; box-shadow: none; -webkit-transform: translate(0, 3px); -ms-transform: translate(0, 3px); transform: translate(0, 3px); }
a.reverse-link { box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25); }
a.reverse-link:hover { color: rgba(229, 224, 230, 0.75); }
a.reverse-link:active { position: relative; box-shadow: none; -webkit-transform: translate(0, 3px); -ms-transform: translate(0, 3px); transform: translate(0, 3px); }

.btn { text-decoration: none; box-shadow: none; font-size: 0.75rem; font-family: "Patron", sans-serif; height: 48px; padding: 0 2rem; line-height: 48px; color: white; background-color: #3300ad; text-align: center; box-sizing: border-box; }
.btn:hover { color: white; background-color: #230077; }
.btn.btn-large { font-size: 0.875rem; line-height: 60px; height: 60px; }
.btn.btn-secondary { background-color: #3a2e2c; }
.btn.btn-secondary:hover { background-color: #3300ad; }
.btn.btn-tertiary { background-color: white; color: #3a2e2c; box-shadow: inset 0 0 0 1px rgba(58, 46, 44, 0.25); }
.btn.btn-tertiary:hover { box-shadow: none; background-color: #3a2e2c; color: white; }

.spec { font: normal 500 0.725rem/0.725rem "Patron", sans-serif; color: #767676; display: inline-block; opacity: .5; transition: all 240ms ease-out; padding: .25rem .5rem; margin-left: -.5rem; border-radius: 3px; }
.spec + * { margin-top: 1rem; }
.spec:hover { opacity: 1; background-color: rgba(0, 0, 0, 0.1); }
.spec span + span { margin-left: 1rem; position: relative; }
.spec span + span:before { content: ""; width: 4.5px; height: 9px; background-size: 100%; position: absolute; left: -.60rem; top: .25rem; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAASCAYAAACJgPRIAAAABGdBTUEAALGPC/xhBQAAATxJREFUKBVjKC8vX1xVVSXOgAcwsbCwVP3582dOZWWlMC51TK2trY+ZmJjy//37N7+hoUEAm0ImkGBHR8c9VlbW0u/fvy8AKuRBVwhWBBJsaWm5yczMXANUuLCvr48TWSFcEUiwra3tClBh68uXLxdMmjSJHaYQRRFU4bn////3P336dN7MmTNZQWKMMNXoNNC39kDFiUZGRsk4FYE0VVRUuAF9HYxhHbqJID4LNkGQGNS6KBMTk2SsisrKyiyA1qQpKSklhIWF/cWwDhiPRoyMjIXS0tJJ6enpv0GmopgEVKDz9+/fanFx8Zi8vLyfIAUgADeppqZGHaighZOTM76oqOg7RBpCgoMA6FUlYJhMACqIA8bdB2QFIDZjdXW17O/fv6cBoyOhvb39LboCEJ8JqKCdi4srFZcCkCIAYch4lUUAGDMAAAAASUVORK5CYII="); }

body.margin { margin: 3vw; }

.customFont { padding: 3vw; box-sizing: border-box; background-color: #efecf0; transition: background-color 120ms ease-out; }
.customFont.active { background-color: #3300ad; }
.customFont.active .text { color: white; }
.customFont.active .text span { color: white; outline: 0; }
.customFont.active .text span:hover { border: 0; color: white; }
.customFont.active .details { color: white !important; }
.customFont.active .details input[type="range"] { background-color: rgba(250, 250, 250, 0.3); }
.customFont.active .details input[type="range"]::-webkit-slider-thumb { background-color: white; }
.customFont.active .details #save { color: #3300ad; background-color: white; }
.customFont .text { line-height: 1; margin-top: 2rem; margin-bottom: 4rem; min-height: 400px; }
.customFont .text > span:hover { border-bottom: 1px dotted blue; }

.details { width: 100%; box-sizing: border-box; border-bottom: 1px solid #e5e0e6; margin-bottom: 1rem; position: relative; }
.details > * { display: inline-block; vertical-align: middle; }
.details #dashLength { display: block; opacity: .5; margin: 1rem 0; }
.details #save { position: absolute; right: 0; bottom: 2em; }

input[type="range"] { -webkit-appearance: none; background-color: #e5e0e6; width: 120px; height: .25rem; border-radius: 5px; margin: 0 .5rem; outline: 0; }

input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; background-color: #3a2e2c; width: 0.5rem; height: 1rem; border-radius: 3px; cursor: pointer; }

.half { width: 50%; float: left; }
@media (max-width: 640px) { .half { float: none; width: 100%; } }
.half.padded { padding: 3vw; box-sizing: border-box; }
.half.dark { background-color: #3a2e2c; }
.half.dark > * { color: #efecf0; }

.dropper { position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: 1px dashed #3300ad; z-index: 99; box-sizing: border-box; background-color: rgba(51, 0, 173, 0.15); opacity: 0; transition: all 320ms ease-out; background-position: center center; }

.drop { background-size: cover; background-position: center center; }
.drop.dragging .dropper { opacity: 1; }

.toggleSize { position: fixed; z-index: 3; top: 0; left: 0; width: 100%; height: 40px; line-height: 32px; background-color: #3a2e2c; color: #f5f3f5; font-family: "Patron", sans-serif; }
.toggleSize ul { list-style: none; padding: 0; margin: 0; display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.toggleSize ul li { margin: 0 .5rem; }
.toggleSize ul li.active a { position: relative; box-shadow: none; }
.toggleSize ul li.active a:before { content: ""; background-color: rgba(245, 243, 245, 0.15); position: absolute; top: -0.25rem; left: -0.5rem; height: 100%; width: 100%; padding: .25rem .5rem; border-radius: 3px; }

.broadcast.active a { position: relative; padding-right: 14px; }
.broadcast.active .indicator { width: 6px; height: 6px; position: absolute; background-color: transparent; display: inline-block; border-radius: 10px; top: 3px; right: 1px; box-sizing: border-box; -webkit-animation: dimmer 1200ms ease-out alternate infinite; animation: dimmer 1200ms ease-out alternate infinite; }
@-webkit-keyframes dimmer { 0% { background-color: #9CFF38; }
  100% { background-color: rgba(156, 255, 56, 0.5); } }
@keyframes dimmer { 0% { background-color: #9CFF38; }
  100% { background-color: rgba(156, 255, 56, 0.5); } }
.file-index { max-width: 100%; min-height: 100vh; background-color: #f5f3f5; }

.file-index header { background-color: #3a2e2c; padding: 4rem 2rem; }
.file-index header .logo { height: 1rem; padding-bottom: 3rem; fill: #f5f3f5; }
.file-index header .update { color: #e5e0e6; }
.file-index header .title { color: #fff; }
@media (max-width: 767px) { .file-index header { padding: 2rem 1rem; }
  .file-index header .logo { height: .6rem; padding-bottom: 1rem; }
  .file-index header .update { opacity: .5; } }

.file-index .projects-collection { list-style-type: none; margin: 0; padding: 4rem 2rem; border-bottom: 1px solid #e5e0e6; }
@media (max-width: 767px) { .file-index .projects-collection { padding: 2rem 1rem; } }
.file-index .projects-collection .collection-title { list-style-type: none; }
.file-index .projects-collection .collection-title .name { display: inline-block; }
.file-index .projects-collection .collection-title .editor { display: inline-block; margin-left: 1rem; opacity: .5; }
.file-index .projects-collection .collection-title .editor:before { content: "Last Edited by: "; }
.file-index .projects-collection .project { margin: 1rem 0 1rem 1rem; position: relative; }
.file-index .projects-collection .project:before { position: absolute; width: 4px; height: 4px; border-radius: 40px; left: -.75em; top: .7rem; content: ""; background-color: #e5e0e6; transition: all 80ms ease-out; }
.file-index .projects-collection .project:hover:before { background-color: #3300ad; }
.file-index .projects-collection .project .editor { margin: 0; display: inline-block; opacity: .5; margin-left: 1rem; }
.file-index .projects-collection .project .editor:before { content: "Last Edited by: "; }
@media (max-width: 767px) { .file-index .projects-collection .project .editor { display: block; margin-left: 0; } }
.file-index .projects-collection .project .name { display: inline-block; }
@media (min-width: 768px) and (max-width: 1024px) { .file-index .projects-collection .project .name { font: normal 500 0.825rem/0.825rem "Patron", sans-serif; } }

body.dark { background-color: #3a2e2c; }

.protoContainer.pdp { min-height: 100vh; margin: 0 auto; position: relative; top: 40px; z-index: 1; background-color: #efecf0; }
.protoContainer.pdp .mainImg { background-size: 100%; pointer-events: none; }
.protoContainer.pdp .featuredImg, .protoContainer.pdp .alternateImg { position: absolute; background-color: #efecf0; min-width: 10px; min-height: 10px; z-index: -2; }
.protoContainer.pdp .featuredImg { background-image: url(../img/tools/pdp/fpoMain.jpg); }
.protoContainer.pdp .alternateImg { background-size: 220%; -webkit-transform: scaleX(-1); -ms-transform: scaleX(-1); transform: scaleX(-1); background-position: center center; background-image: url(../img/tools/pdp/fpoAlt.jpg); }
.protoContainer.pdp[data-size='1352'] .mainImg { background-image: url(../img/tools/pdp/1352-pdp.png); height: 4525px; }
.protoContainer.pdp[data-size='1352'] .featuredImg { top: 171px; left: 100px; width: 683px; height: 683px; }
.protoContainer.pdp[data-size='1352'] .alternateImg { top: 390px; left: 783px; width: 469px; height: 685px; }
.protoContainer.pdp[data-size='840'] .mainImg { background-image: url(../img/tools/pdp/840-pdp.png); height: 4900px; }
.protoContainer.pdp[data-size='840'] .featuredImg { top: 92px; left: 45px; width: 750px; height: 750px; }
.protoContainer.pdp[data-size='840'] .alternateImg { top: 842px; left: 45px; width: 750px; height: 630px; }
.protoContainer.pdp[data-size="320"] .mainImg { background-image: url(../img/tools/pdp/320-pdp.png); height: 4665px; }
.protoContainer.pdp[data-size="320"] .featuredImg { top: 89px; left: 0; width: 320px; height: 320px; }
.protoContainer.pdp[data-size="320"] .alternateImg { top: 409px; left: 0; width: 320px; height: 421px; }

.protoContainer.plp { min-height: 100vh; margin: 0 auto; position: relative; top: 40px; z-index: 1; background-color: #efecf0; }
.protoContainer.plp .mainImg { background-size: 100%; pointer-events: none; }
.protoContainer.plp .smallTile, .protoContainer.plp .largeTile { position: absolute; background-color: #efecf0; min-width: 10px; min-height: 10px; z-index: -2; background-image: url(../img/tools/pdp/fpoMain.jpg); }
.protoContainer.plp[data-size='1352'] .mainImg { background-image: url(../img/tools/plp/1352-plp.png); height: 3748px; }
.protoContainer.plp[data-size='1352'] .largeTile { top: 224px; left: 686px; width: 568px; height: 720px; }
.protoContainer.plp[data-size='1352'] .smallTile { top: 595px; left: 392px; width: 274px; height: 350px; }
.protoContainer.plp[data-size='840'] .mainImg { background-image: url(../img/tools/plp/840-plp.png); height: 3970px; }
.protoContainer.plp[data-size='840'] .largeTile { top: 333px; left: 301px; width: 494px; height: 626px; }
.protoContainer.plp[data-size='840'] .smallTile { top: 655px; left: 45px; width: 238px; height: 304px; }
.protoContainer.plp[data-size="320"] .mainImg { background-image: url(../img/tools/plp/320-plp.png); height: 4862px; }
.protoContainer.plp[data-size="320"] .largeTile { top: 278px; left: 15px; width: 290px; height: 368px; }
.protoContainer.plp[data-size="320"] .smallTile { top: 705px; left: 15px; width: 138px; height: 176px; }

#controls { width: 100vw; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(239, 236, 240, 0.75); z-index: 99999; padding: 1rem; box-sizing: border-box; }
@media (min-width: 420px) { #controls { display: none; } }
#controls .btn { display: block; width: 100%; }
#controls .btn + .btn { margin-top: 1rem; }
#controls .indicator.active { width: 6px; height: 6px; position: relative; top: -1px; background-color: transparent; display: inline-block; border-radius: 10px; margin-left: .5rem; box-sizing: border-box; -webkit-animation: dimmer 1200ms ease-out alternate infinite; animation: dimmer 1200ms ease-out alternate infinite; }
@keyframes dimmer { 0% { background-color: #9CFF38; }
  100% { background-color: rgba(156, 255, 56, 0.5); } }
#controls .grow, #controls #refresh { display: none; width: calc(100% - 2rem); left: 1rem; position: absolute; }
#controls .grow { bottom: 1rem; cursor: pointer; -webkit-user-select: none; }
#controls #refresh { bottom: calc(2rem + 48px); }

.container { position: absolute; width: 100%; height: 100%; overflow: hidden; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-size: contain; background-repeat: no-repeat; background-position: center center; background-color: white; transition: -webkit-transform 5s cubic-bezier(0.455, 0.03, 0.515, 0.955); transition: transform 5s cubic-bezier(0.455, 0.03, 0.515, 0.955); opacity: 0; -webkit-animation: opacify 2400ms ease-out forwards; animation: opacify 2400ms ease-out forwards; }
.container.grow { -webkit-transform: translate(-50%, -50%) scale3d(1.3, 1.3, 1.3); transform: translate(-50%, -50%) scale3d(1.3, 1.3, 1.3); }

@-webkit-keyframes opacify { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes opacify { 0% { opacity: 0; }
  100% { opacity: 1; } }
.scene { padding: 0; margin: 0; width: 100%; height: 100%; }

.layer { width: 100%; height: 100%; }
.layer img { display: block; width: 100%; position: absolute; }
.layer video { width: 100%; position: absolute; }
.layer:nth-child(1) img { width: 63%; bottom: 10%; }
.layer:nth-child(2) img { top: 15%; right: 0; width: 50%; }
.layer:nth-child(3) img { width: 98%; right: 0; bottom: 16%; }
.layer:nth-child(4) img { width: 76%; left: 8%; top: 7%; }
.layer:nth-child(5) img { width: 58%; bottom: 7%; left: 26%; }
.layer:nth-child(6) img { width: 42%; bottom: 40%; }
.layer:nth-child(7) img { width: 30%; right: 8%; top: 21%; }

body.mfindanim { overflow: hidden; background-color: #e5e0e6; }
body.mfindanim .iphone6s { background-color: #3300ad; width: 375px; height: 667px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); overflow: hidden; }
body.mfindanim .formContent { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 999; opacity: 0; background-color: #3300ad; }
body.mfindanim .formContent .header { position: absolute; top: 0; left: 0; width: 100%; height: 325px; opacity: 0; background-image: url(../img/xp/mfindopening/Form.png); background-size: 100%; transition: opacity 640ms ease-out 320ms; }
body.mfindanim .formContent .keypad { position: absolute; bottom: -100%; left: 0; width: 100%; height: 342px; background-image: url(../img/xp/mfindopening/KeyPad.png); background-size: 100%; transition: bottom 640ms cubic-bezier(0.86, 0, 0.07, 1); }
body.mfindanim .formContent.active { opacity: 1; }
body.mfindanim .formContent.active .header { opacity: 1; }
body.mfindanim .formContent.active .keypad { bottom: 0; }
body.mfindanim .iosLoading { background-image: url(../img/xp/mfindopening/background-screen.png); background-size: cover; z-index: 999; transition: opacity 320ms ease-out 0ms; width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden; }
body.mfindanim .iosLoading .iconApp { width: 60px; height: 60px; position: absolute; bottom: 22px; left: 201px; background-size: cover; background-image: url(../img/xp/mfindopening/icon.png); -webkit-transform-origin: center 80%; -ms-transform-origin: center 80%; transform-origin: center 80%; transition: all 320ms ease-out; }
body.mfindanim .iosLoading.active { opacity: 0; }
body.mfindanim .iosLoading.active .iconApp { -webkit-transform: scale(6); -ms-transform: scale(6); transform: scale(6); opacity: 0; }
body.mfindanim .loadingScreen { width: 100%; height: 100%; overflow: hidden; opacity: 0; position: absolute; top: 0; left: 0; background-color: #3300ad; }
body.mfindanim .loadingScreen.active { -webkit-animation: appear 124ms ease-in 1 forwards; animation: appear 124ms ease-in 1 forwards; opacity: 1; }
body.mfindanim .loadingScreen.active .out { width: 375px; height: 667px; position: absolute; top: 0; left: 0; z-index: 999; -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); -webkit-animation: out 1736ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 1 forwards 4960ms; animation: out 1736ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 1 forwards 4960ms; }
body.mfindanim .loadingScreen.active .out:after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ""; z-index: 3; background-image: url("../img/mesh.svg"); background-size: 61px; -webkit-animation: bouncingsmooth 620ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 9 forwards; animation: bouncingsmooth 620ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 9 forwards; }
body.mfindanim .loadingScreen.active .out:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ""; z-index: 6; display: NONE; background: radial-gradient(ellipse at center, rgba(43, 0, 148, 0.8) 0%, rgba(51, 0, 173, 0.1) 100%); -webkit-animation: radialBounce 620ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 9 forwards; animation: radialBounce 620ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 9 forwards; }
body.mfindanim .loadingScreen.active .logo { width: 160px; position: absolute; z-index: 9; top: 50%; left: 50%; margin-left: -80px; margin-top: -80px; -webkit-animation: bouncing 620ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 8 forwards; animation: bouncing 620ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 8 forwards; }
body.mfindanim .loadingScreen.active .logo svg { width: 100%; }
body.mfindanim .loadingScreen.active .logo svg * { fill: #efecf0; }
body.mfindanim .loadingScreen.active .logo svg #full { -webkit-animation: fadeout 1736ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 1 forwards 5208ms; animation: fadeout 1736ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 1 forwards 5208ms; }
body.mfindanim .loadingScreen.active .boom { width: 1200px; height: 1200px; background-color: #3300ad; position: absolute; top: 50%; left: 50%; z-index: 8; opacity: 0; border-radius: 99999px; -webkit-transform: translate(-50%, -50%) scale(0.1); -ms-transform: translate(-50%, -50%) scale(0.1); transform: translate(-50%, -50%) scale(0.1); -webkit-animation: boom 930ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 1 4960ms forwards; animation: boom 930ms cubic-bezier(0.175, 0.805, 0.9, 1) alternate 1 4960ms forwards; }
@-webkit-keyframes bouncing { 0% { -webkit-transform: scale(0.7); transform: scale(0.7); }
  100% { -webkit-transform: scale(0.78); transform: scale(0.78); } }
@keyframes bouncing { 0% { -webkit-transform: scale(0.7); transform: scale(0.7); }
  100% { -webkit-transform: scale(0.78); transform: scale(0.78); } }
@-webkit-keyframes bouncingsmooth { 0% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .15; }
  90%, 100% { -webkit-transform: scale(1); transform: scale(1); opacity: .05; } }
@keyframes bouncingsmooth { 0% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .15; }
  90%, 100% { -webkit-transform: scale(1); transform: scale(1); opacity: .05; } }
@-webkit-keyframes fadeout { 0% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes fadeout { 0% { opacity: 1; }
  100% { opacity: 0; } }
@-webkit-keyframes radialBounce { 0% { opacity: .6; }
  100% { opacity: 1; } }
@keyframes radialBounce { 0% { opacity: .6; }
  100% { opacity: 1; } }
@-webkit-keyframes boom { 0% { opacity: 0; background-color: #2b0094; -webkit-transform: translate(-50%, -50%) scale(0.1); transform: translate(-50%, -50%) scale(0.1); }
  10% { opacity: 1; -webkit-transform: translate(-50%, -50%) scale(0.15); transform: translate(-50%, -50%) scale(0.15); }
  100% { opacity: 1; background-color: #3300ad; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); } }
@keyframes boom { 0% { opacity: 0; background-color: #2b0094; -webkit-transform: translate(-50%, -50%) scale(0.1); transform: translate(-50%, -50%) scale(0.1); }
  10% { opacity: 1; -webkit-transform: translate(-50%, -50%) scale(0.15); transform: translate(-50%, -50%) scale(0.15); }
  100% { opacity: 1; background-color: #3300ad; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); } }
@-webkit-keyframes out { 0% { -webkit-transform: scale(1.2); transform: scale(1.2); opacity: 1; }
  80% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; } }
@keyframes out { 0% { -webkit-transform: scale(1.2); transform: scale(1.2); opacity: 1; }
  80% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 0; } }
@-webkit-keyframes appear { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes appear { 0% { opacity: 0; }
  100% { opacity: 1; } }
